<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_prm392">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalAppointmentSchedule"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        
        <!-- Màn hình chính của ứng dụng -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Màn hình đăng ký không phải là launcher -->
        <activity android:name=".ui.auth.RegisterActivity" />
        
        <!-- Màn hình chính khác không phải là launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Project_PRM392">
        </activity>
        
        <!-- Các activity của Admin -->
        <activity android:name=".ui.DashboardActivity" />
        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminDoctorListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminPatientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminRevenueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminSpecialtyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.AppointmentDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.ManageDoctorsActivity" />
        <activity android:name=".ui.admin.AddEditDoctorActivity" />
        <activity android:name=".ui.admin.ManageServicesActivity" />
        <activity android:name=".ui.admin.AddEditServiceActivity" />
        <activity android:name=".ui.admin.ManageReservationsActivity" />
        
        <!-- Các activity của User -->
        <activity android:name=".ui.user.UserDashboardActivity" />
        <activity android:name=".ui.user.ViewDoctorsActivity" />
        <activity android:name=".ui.user.DoctorDetailActivity" />
        <activity android:name=".ui.user.ViewServicesActivity" />
        <activity android:name=".ui.user.ServiceDetailActivity" />
        <activity android:name=".ui.user.MyAppointmentsActivity" />
        <activity android:name=".ui.user.BookAppointmentActivity" />
        <activity
            android:name=".ui.doctor.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.service.ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reservation.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reservation.AppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reservation.RescheduleAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reservation.SelectDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false" />
    </application>

</manifest>